.header ul{
   padding: 0;
    display: flex;
    gap: 10px;
    /* float:left; */
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;

}
.header li, a{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 69, 90);
    background-color: rgb(226, 243, 248);
    height:max-content;
    border-radius: 10px;
    padding: 10px;
    
}
@media screen and (max-width:800px) { 
    .header ul {
     display: flex;
     flex-direction: row;
     justify-content: left;
     

    }
    
}