body{
    margin: 0;
    padding:0;
}
.dmain{
    display: flex;
    flex-direction: column;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
li{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    list-style: none;
    color: white;
    background-color: rgb(4, 57, 90);
    width:300px;
    height:200px;
    justify-content: center;
    align-items: center;
}
.activity{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgb(4, 57, 90);
    margin: 20px 0 0 0;
}
.activity h2,h3, p {
    margin-left: 20px;
    display:block
}
.activityp {
    margin-left: 20px;
    display:block;
    min-height:30px;
}