.about h2{
    color: rgb(255, 255, 255);
    background-color: rgb(15, 109, 126);
    height: 40px;
    /* width: 20; */
    padding: 20px;
    margin: 20px;
    border-radius: 0px 40px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about p{
    font-size: 24px;
    margin:20px;
    padding:20px;
    min-height: 30vh;
    display: flex;
    align-items: center;
    text-align: justify;
}
.ul{
    margin: 20px;
    padding: 20px;
}
.li{
    font-size: 24px;
    line-height: 1.5;
    text-align: justify;
    list-style: disc;
}