.animation{
background-color: rgb(15, 109, 126);
width:100%;
height:400px;
display: flex;
align-items: center;
justify-content: space-around;
}
.animation span{
    font-size: 30px;
    max-width: 50%;
    font-weight: 800;
    color: white;
    margin:20px;
}
.animation img{
    position: relative;
    width:auto;
    right: 0;
    bottom: 0px;
    float: right;
    height:400px;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(15, 109, 126);
    background-size: cover
    
}
.animation input{
    margin: 40px;
    color: black;
    font-weight: 700;
    background-color: white;
}
.animation input:hover{
    background-color: rgb(4, 135, 135);
    color: rgb(0, 0, 0);
}
