.dashboard{
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    margin-top:50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.panel{
    /* margin-left:30px; */
}

.h1{
    color: rgb(0, 69, 90);
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.dash{
    color: rgb(0, 69, 90);
    text-align: center;
    border-radius: 10px;
    height:400px;
    width: 350px;
    box-shadow: 0px 4px 4px 2px rgb(0, 0, 0, 0.1) ;
}
.dash h1{
    
    /* box-shadow: 0px 4px 4px 2px rgb(0, 0, 0, 0.1) ; */
}
.items{
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    line-height: 2;
    font-family:Arial, Helvetica, sans-serif;
}

.taskitems{
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    line-height: 2;
    text-decoration: none;
}