.footer{
    display: block;
    position: fixed;
    text-align: center;
    background-color: rgb(0, 69, 90);
    padding: 10px;
    color: white;
    height: 30px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    
}