.nav{
    float:right;
    position: fixed;
    color: rgb(255, 255, 255);
    top: 20px;
    right: 90px;
    text-decoration: none;

}
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .nav ul.open {
    flex-direction: column;
  }
  
  .nav a {
    text-align: center;
    overflow: hidden;
    color: azure;
    padding-inline: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 10%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
  }
  .nav li:hover {
    height: 50px;
    justify-items: center;
    border-radius: 10px;
    background-color: rgb(4, 155, 102);
    
  }
  
  .nav li.active {
    background-color: #ffffff;
    color: azure;
  }
  
  .nav .icon {
    display: none;
  }
  
/* Hide navigation items on small screens */
@media screen and (max-width: 600px) {
    .nav a {
      display: none;
    }
  
    .nav .icon {
      display: inline-block;
      position: relative;
      left: 80%;
    }
  
    .nav.open a {
      display: block;
      text-align: left;
      padding: 14px;
      width: 100%;
    }
  
    .nav.open .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }